{% extends 'base.html.twig' %}

{% block title %}{{ 'homepage'|trans({}, 'document-title') }}{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col">

                <div class="card-group">
                    <div class="card">
                        <a href="{{ path('le-gite-show') }}"><img src="{{ asset('build/le-gite/entrance.jpg') }}"
                                                                  class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ 'title'|trans({}, 'le-gite') }}</h5>
                            <p class="card-text">{{ 'description'|trans({}, 'le-gite') }}</p>
                        </div>
                    </div>
                    <div class="card">
                        <a href="{{ path('papillons-show') }}"><img src="{{ asset('build/papillons/sud-est-2.jpg') }}"
                                                                    class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ 'title'|trans({}, 'papillons') }}</h5>
                            <p class="card-text">{{ 'descripton'|trans({}, 'papillons') }}</p>
                        </div>
                    </div>
                    <div class="card">
                        <a href="{{ path('soleil-levant-show') }}"><img src="{{ asset('build/soleil-levant/bed.jpg') }}"
                                                                        class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ 'title'|trans({}, 'soleil-levant') }}</h5>
                            <p class="card-text">{{ 'description'|trans({}, 'soleil-levant') }}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <video class="video" loop controls preload="metadata" poster="{{ asset('build/videos/video_poster.png') }}">
                    <source src="{{ asset('build/videos/2021_ADT35_Tourisme_rural_720p.mp4') }}" type=video/mp4>
                </video>
            </div>
        </div>
    </div>
{% endblock %}
