@import "functions";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "fonts";
@import "legal-notices";


body {
  font-family: 'Montserrat', sans-serif;
  color: #545454;
  font-size: 15px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.3;
  margin: 0.5em 0 0.5em 0;
  color: $black;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;

  line-height: 1.3;
  margin: 0.5em 0 0.5em 0;
  color: $black;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;

  line-height: 1.3;
  margin: 0.5em 0 0.5em 0;
  color: $black;
}

a {
  color: $black;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

header {
  line-height: 20px;
  padding: 20px 0 0;
  margin-bottom: 40px;
  text-align: center;
}

li {
  padding-bottom: 10px;
}

img {
  width: 100%;
  height: auto;
}

.header-logo-text {
  letter-spacing: 10px;
  line-height: 60px;
  font-size: 60px;
  font-weight: 200;
}

.tagline {
  margin-top: 15px;
  color: #646464;
  font-family: 'Caveat', cursive;
  font-size: 18px;
  text-transform: lowercase;
  padding: 0 26px;
}

nav {
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.nav > li > a {
  font-size: 11px;
  letter-spacing: 2px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  box-sizing: border-box;

  &:focus &:hover {
    outline: none;
    border-radius: 0;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 23px 23px;
}

.navbar-light .navbar-toggler {
  border-color: #ffffff;
  color: black;
}

.body-container {
  margin: 1em auto;
  max-width: 1200px;
  width: 90%;
}

.dropdown-item {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #545454;
  font-size: 11px;
  line-height: 1.6;
}

.form-control:focus {
  border: 2px solid #3D3D3D;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 0;

  &:focus {
    border: 1px solid #000;
  }
}
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #333;
  font-size: 1em;
  padding: 10px 15px;
}
.btn-primary:hover {
  background-color: #3D3D3D;
}

.video {
  width: 100%;
  height: auto;
}
