{% extends 'base.html.twig' %}

{% block title %}{{ 'contact'|trans({}, 'document-title') }}{% endblock %}

{% block body %}
    <div class="container body-container">
        <div class="row">
            <div class="col-lg-6">
                <h1>{{ 'form.title'|trans({}, 'contact') }}</h1>
                <p>{{ 'contact-informations.p-1'|trans({}, 'contact')|raw }}</p>

                <p>{{ 'contact-informations.p-2'|trans({}, 'contact')|raw }}</p>
                <h1>{{ 'form.title'|trans({}, 'contact') }}</h1>
                {{ form_start(contactForm) }}
                {{ form_row(contactForm.firstname) }}
                {{ form_row(contactForm.lastname) }}
                {{ form_row(contactForm.email) }}
                {{ form_row(contactForm.message) }}
                {{ form_row(contactForm.captcha) }}

                <button type="submit" class="btn btn-primary">
                    {{ 'form.submit.label'|trans({}, 'contact') }}
                </button>
                {{ form_end(contactForm) }}

            </div>
            <div class="col-lg-6">
                <h1>{{ 'location.title'|trans({}, 'contact') }}</h1>
                <address>
                    {{ 'location.address.name'|trans({}, 'contact') }}<br>
                    {{ 'location.address.street'|trans({}, 'contact') }}<br>
                    {{ 'location.address.city'|trans({}, 'contact') }}<br>
                </address>
                <p>{{ 'location.p-1'|trans({}, 'contact') }}</p>
                <p>{{ 'location.p-2'|trans({}, 'contact') }}</p>
            </div>

        </div>
    </div>
{% endblock %}
