<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <title>{% block title %}{{ 'doctype-title'|trans({}, 'base') }}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon-1.ico') }}">


    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">

{{ include('layout/alerts.html.twig') }}

<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="header-logo-text"><a href="{{ path('homepage') }}">{{ 'header-title'|trans({}, 'base') }}</a>
                </h1>
                <p class="tagline">{{ 'header-title-tagline'|trans({}, 'base') }}</p>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#frontNavbar"
                    aria-controls="frontNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="frontNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item {% if app.request.get('_route') == 'biography'%}active{% endif%}">
                        <a class="nav-link" href="{{ path('biography') }}">{{ 'biography'|trans({}, 'nav') }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{ 'lodging'|trans({}, 'nav') }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item {% if app.request.get('_route') == 'le-gite-show'%}active{% endif%}"
                               href="{{ path('le-gite-show') }}">{{ 'title'|trans({}, 'le-gite') }}</a>
                            <a class="dropdown-item {% if app.request.get('_route') == 'papillons-show'%}active{% endif%}"
                               href="{{ path('papillons-show') }}">{{ 'title'|trans({}, 'papillons') }}</a>
                            <a class="dropdown-item {% if app.request.get('_route') == 'soleil-levant-show'%}active{% endif%}"
                               href="{{ path('soleil-levant-show') }}">{{ 'title'|trans({}, 'soleil-levant') }}</a>
                            <a class="dropdown-item {% if app.request.get('_route') == 'mettrie_place'%}active{% endif%}"
                               href="{{ path('mettrie_place') }}">{{ 'mettrie-place'|trans({}, 'nav') }}</a>
                            <a class="dropdown-item {% if app.request.get('_route') == 'prestations'%}active{% endif%}"
                               href="{{ path('prestations') }}">{{ 'prestations'|trans({}, 'nav') }}</a>
                        </div>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'nearby'%}active{% endif%}">
                        <a class="nav-link" href="{{ path('nearby') }}">{{ 'nearby'|trans({}, 'nav') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://cuisinesauvage.bzh" target="_blank">{{ 'cuisine_sauvage'|trans({}, 'nav') }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'partners'%}active{% endif%}">
                        <a class="nav-link" href="{{ path('partners') }}">{{ 'partners'|trans({}, 'nav') }}</a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'contact'%}active{% endif%}">
                        <a class="nav-link" href="{{ path('contact') }}">{{ 'contact'|trans({}, 'nav') }}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

{% block body %}{% endblock %}

{{ include('layout/footer.html.twig') }}


</body>
</html>
