{% block footer %}
    <!-- Footer -->
    <hr>
    <footer id="footer" class="footer mt-auto">
        <div class="container">
            <p class="text-center small">
                <a href="{{ path('legal_notices') }}">{{ 'legal_notices'|trans({}, 'footer')|raw }}</a>
            </p>
        </div>
    </footer>

{% endblock %}